.container {
    min-width: 250px;
    max-width: 350px;
    display: inline-block;
    align-items: center;
    height: 75px;
    background-color: white;
    border: 2px solid lawngreen;
    box-shadow: 4px 4px 6px rgba(209, 213, 219, 1);
    position: absolute;
    top: 15px;  right: 10px;
    border-radius: 4px;
    padding: 13px 15px 15px;
    margin-bottom: 10px;
}

.container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: lawngreen;
    animation: shrinkBorder 5s linear forwards;
}

.container.error::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red; 
    animation: shrinkBorder 5s linear forwards;
  }

@keyframes shrinkBorder {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.msg-icon{
    margin-right: 10px;
}

.message-box {
    display: flex;
    align-items: center;
}

.clear{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}